$row-height: 50px;
$padding-space: 10px;

.export-menu {
  &-row {
    box-sizing: border-box;
    display: flex;
    height: $row-height;
    justify-content: space-between;
    padding: 5px 0;

    &:last-child {
      height: 200px;
      padding-bottom: 10px;
    }
  }

  &-button {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #666;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    text-align: center;

    &:hover,
    &:focus {
      border-color: #5cb3fd;
      color: #666;
      text-decoration: none;
    }
  }

  &-textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 5px $padding-space;
    resize: none;
    width: 100%;
  }
}
