<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Cee</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>BaiduExporter</string>
	<key>CFBundleIdentifier</key>
	<string>moe.Cee.BaiduExporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>52428800</integer>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>baidu.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>fuck_baidu.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>setting.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://pan.baidu.com/s/*</string>
			<string>http://pan.baidu.com/disk/home*</string>
			<string>http://pan.baidu.com/share/link*</string>
			<string>http://yun.baidu.com/s/*</string>
			<string>http://yun.baidu.com/disk/home*</string>
			<string>http://yun.baidu.com/share/link*</string>
			<string>http://pan.baidu.com/pcloud/album/info*</string>
			<string>http://yun.baidu.com/pcloud/album/info*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Assistant for Baidu to export download links to aria2/aria2-rpc</string>
	<key>DeveloperIdentifier</key>
	<string>BJJYLFU3B7</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/acgotaku/BaiduExporter</string>
</dict>
</plist>
