#setting_div,#download_ui{
    border: 3px solid #999;
    background: #FFF;
    width: 568px;
    box-shadow: 0 0 9px #999;
}
.g-button-menu{
    cursor: pointer;
}
.b-panel {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
}
.b-dialog {
    z-index: 998;
    display: none;
    border: 3px solid #999;
}
.new-dbtn .btn .download-btn{
    background-position: 0 -1028px;
    text-decoration: none;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding-left: 35px;
    position: relative;
    margin-right: 10px;
}
.dlg-hd .dlg-cnr-min, .dlg-hd .dlg-cnr-r {
    background: url(http://s1.pan.bdstatic.com/yun-static/common-cdn/images/btn_icon.gif?t=1449478533149) no-repeat scroll -109px -111px transparent;
    cursor: pointer;
    height: 20px;
    right: 10px;
    top: 10px;
    width: 20px;
    position: absolute;
}
.dlg-hd h3, .dlg-cnr {
    height: 42px;
    line-height: 40px;
}
.dlg-hd h3 {
    text-indent: 1em;
    color: #333;
    font-size: 14px;
    background: url(http://s1.pan.bdstatic.com/yun-static/common-cdn/images/dialog/globe-dlg-hd.png?t=1449478533149) repeat-x 0 0 #EEE;
    font-weight: 700;
}
#setting_div_table input{
    text-indent: 10px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
}
.input-large{
    width:85%;
}
.input-medium{
    width:81%;
}

.input-small{
    width:150px;
}
#setting_div_table input[disabled]{
    cursor: not-allowed;
    background-color: #eee;
}
#send_test{
    display:inline-block;
    border:1px solid #D1D1D1;
    background-color: #F7F7F7;
    text-align: center; text-decoration: none;
    color:#1B83EB;
}
#add_rpc{
    display:inline-block;
    border:1px solid #D1D1D1;
    background-color: #F7F7F7;
    text-align: center; text-decoration: none;
    color:#1B83EB;
    margin-left:5px;
}
#copyright{
    display:inline-block;
}
#setting_aria2_headers{
    overflow:auto;
    resize:none;
    width:90%;
    height:80px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
}
a{
    color: #666 !important;
    text-decoration: none !important;
}
.button{
    background: #eeeeef;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    padding:0 50px;
    height: 37px;
    line-height: 37px;
    color: #333;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 2px;
    display: inline-block;
}
.button:hover,.button:visited,.button:active{
    background: #fafafa;
    color: #333;
    text-decoration: none;
}
.new-dbtn .menu{
    position: absolute;
    width: 98%;
    left: 0;
    top: 32px;
    background: #fff;
    text-align: center;
    border: 1px solid #aaa;
    display: none;
    z-index:100;
}
.new-dbtn .menu a{
    height: 24px;
    line-height: 24px;
    display: block;
    color: #666;
}
.new-dbtn .menu a:hover{
    background: #e4eefe;
    cursor: pointer;
    text-decoration: none;
}
.download-mgr-dialog .content {
    padding: 10px 20px;
    height:auto;
    overflow: hidden;
}
#setting_div_table{
    width:100%;
    border:0;
    border-collapse:separate;
    border-spacing:10px;
    display:table;
    background-color: rgb(250, 250, 250);
}